@import "_config.scss";

header {
    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        margin: 0 auto;
        .list-group-item {
            width: 150px;
            text-align: center;
        }
        .navbar-brand {
            padding-left: 16px;
        }
    }
}

footer {
    position: relative;
    display: block;
    width: 100%;
    background: $noir;
    color: $blanc;
    height: 90px;
}